/**
 * @file styles.css
 * Basic styles for audio-recorder widget.
 */

/**
 * Common styles.
 */
div.audio-recorder-gui-record,
div.audio-recorder-gui-play {
  background: url(buttons.png) -56px 0 no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 63px;
  text-align: center;
  width: 56px;
}

div.audio-recorder-gui-play.disabled,
div.audio-recorder-gui-record.disabled {
  background-position: -56px 0 !important;
  cursor: default;
}

div.audio-recorder-gui-record:hover,
div.audio-recorder-gui-play:hover {
  background-position: -112px 0;
}

div.audio-recorder-gui-record:active,
div.audio-recorder-gui-play:active,
div.audio-recorder-gui-record.proceed,
div.audio-recorder-gui-play.proceed {
  background-position: 0 0;
}

div.throbber {
  background: transparent url(throbber.gif) no-repeat 0px -18px;
  height: 15px;
  margin: 2px;
  padding: 0 6px !important;
  width: 15px;
}

/**
 * Record button.
 */
div.audio-recorder-gui-record-icon {
  background: url(buttons.png) -169px 5px no-repeat;
  cursor: pointer;
  height: 63px;
  margin: auto;
  position: relative;
  width: 20px;
}

div.audio-recorder-gui-record:hover div.audio-recorder-gui-record-icon {
  background-position: -209px 5px;
}

div.audio-recorder-gui-record.disabled div.audio-recorder-gui-record-icon,
div.audio-recorder-gui-record.disabled div.audio-recorder-gui-record-icon:active {
  background-position: -169px 5px !important;
  cursor: default;
}

div.audio-recorder-gui-record:active div.audio-recorder-gui-record-icon,
div.audio-recorder-gui-record.proceed div.audio-recorder-gui-record-icon {
  background-position: -209px 10px;
}

/**
 * Play button.
 */
div.audio-recorder-gui-play-icon {
  background: url(buttons.png) -269px 5px no-repeat;
  cursor: pointer;
  height: 63px;
  margin: auto;
  position: relative;
  width: 29px;
}

div.audio-recorder-gui-play:hover div.audio-recorder-gui-play-icon {
  background-position: -298px 5px;
}

div.audio-recorder-gui-play.disabled div.audio-recorder-gui-play-icon {
  background-position: -328px 5px !important;
  cursor: default;
}

div.audio-recorder-gui-play:active div.audio-recorder-gui-play-icon,
div.audio-recorder-gui-play.proceed div.audio-recorder-gui-play-icon {
  background-position: -298px 10px;
}
